/* You can add global styles to this file, and also import other style files */
.p-inputtext {
  border-radius: 10px !important;
}

.p-inputtext.send {
  border-bottom-right-radius: 0px!important;
  border-top-right-radius: 0px!important;
}

.p-dropdown {
border-radius: 10px !important;
}
